# Python cache files
__pycache__/
*.pyc
*.pyo

# Environment variables file
.env

# Node modules (if any)
node_modules/

# Virtual environment directory
venv/

# Compiled files
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS files
.DS_Store

# PyCharm files
.idea/

# Gcloud ignore file
.gcloudignore

*.py
*.txt
